In [2]:
import pandas as pd
# pd.Series(값 목록, [인덱스]) / 인덱스는 설정하지 않으면 자동으로 생성
import numpy as np

In [ ]:
# 연습문제
(1번)
# 숫자 데이터를 시리즈로 만들어 주세요.
# 값은 [5, 10, 15, 20] 이고, 인덱스는 자동으로 생성됩니다.

# 숫자 데이터를 시리즈로 만들어 주세요.
# 값은 [2, 4, 6, 8] 이고, 인덱스는 자동으로 생성됩니다.

In [7]:
num1 = pd.Series([5, 10, 15, 20])
num2 = pd.Series([2, 4, 6, 8])

print(num1)
print(num2)

0     5
1    10
2    15
3    20
dtype: int64
0    2
1    4
2    6
3    8
dtype: int64

In [9]:
# 인덱스를 직접 설정하여 시리즈 생성
# pd.Series(값목록(list), 인덱스(list))
s = pd.Series([1,2,3], index=['a','b','c'])
s
# 인덱스 확인
s.index

Index(['a', 'b', 'c'], dtype='object')

시리즈에서 값 꺼내기
<small>
    값을 찾는 방법 : 인덱스의 이름과 위치<br>
    loc 함수 : 인덱스 이름으로 데이터를 찾는다<br>
    iloc 함수 : 인덱스 위치로 데이터를 찾는다<br>
    대괄호[] : 인덱스 이름으로 데이터를 찾는다
    </small>

In [13]:
print(s)
# 이 시리즈의 인덱스 이름 : a,b,c
# 이 시리즈의 인덱스 위치 0,1,2 (고민x)

# 인덱스 이름으로 숫자 1 꺼내기
s.loc['a']
# 인덱스 이름으로 숫자 2 꺼내기
s['b']
# 인덱스 위치로 숫자 3 꺼내기
s.iloc[2]

a    1
b    2
c    3
dtype: int64

np.int64(3)

##### 시리즈 값 수정하기

In [17]:
print(s)
# 1을 0으로 변경
# 찾기 -> 변경
s.loc['a'] = 0
# 3을 99로 변경
s['c'] = 99
s

a     0
b     2
c    99
dtype: int64

a     0
b     2
c    99
dtype: int64

In [22]:
# 연습문제
# (2번)
# 성적 데이터를 시리즈로 만들어주세요.
# 값은 점수 [70, 80, 90] 이고, 인덱스는 과목 ['국어', '영어', '수학'] 입니다.
s = pd.Series([70, 80, 90], index = ['국어', '영어', '수학'])
print(s)

# 1. 국어 점수를 조회하세요. (결과: 70점)
s['국어']
# 2. 수학 점수를 75점으로 수정하세요.
s['수학'] = 75
s

국어    70
영어    80
수학    90
dtype: int64

국어    70
영어    80
수학    75
dtype: int64

In [28]:
# 연습문제
# (3번)
# 계절별 평균 기온 데이터를 시리즈로 만들어주세요.
# 값은 기온 [15, 27, 18] 이고, 인덱스는 계절 ['봄', '여름', '가을'] 입니다.
w = pd.Series([15, 27, 18], index = ['봄', '여름', '가을'])
print(w)
# 1. 봄 기온을 조회하세요. (결과: 15)
print(w['봄'])
# 2. 가을 기온을 20으로 수정하세요.
w['가을'] = 20
w

봄     15
여름    27
가을    18
dtype: int64
15

봄     15
여름    27
가을    20
dtype: int64

In [35]:
# 연습문제
# (4번)
# 일별 매출 데이터를 시리즈로 만들어주세요.
# 값은 매출 [1000, 1200, 1300] 이고, 인덱스는 날짜 ['01-01', '01-02', '01-03'] 입니다.
m = pd.Series([1000, 1200, 1300], index = ['01-01', '01-02', '01-03'])
print(m)
# 1. 1월 1일 매출을 조회하세요. (결과: 1000)
print(m['01-01'])
# 2. 1월 2일 매출을 1250으로 수정하세요.
m['01-02'] = 1250
m

01-01    1000
01-02    1200
01-03    1300
dtype: int64
1000

01-01    1000
01-02    1250
01-03    1300
dtype: int64

In [37]:
# 연습문제
# (5번)
# 요일별 매출 데이터를 시리즈로 만들어주세요.
# 값은 매출 [300, 400, 500] 이고, 인덱스는 요일 ['월', '화', '수'] 입니다.
d = pd.Series([300, 400, 500], index = ['월', '화', '수'])
print(d)
# 1. 화요일 매출을 조회하세요. (결과: 400)
print(d['화'])
# 2. 수요일 매출을 550으로 수정하세요.
d['수'] = 550
d

월    300
화    400
수    500
dtype: int64
400

월    300
화    400
수    550
dtype: int64

#### 데이터 프레임 연습문제

In [54]:
# (1번)
# 학생 성적 데이터를 데이터프레임으로 만들어주세요.
# 첫 번째 열은 학생 이름: ["철수", "영희", "민수"]
# 두 번째 열은 수학 점수: [85, 90, 78]
data = {'name':["철수", "영희", "민수"], 
    'math': [85, 90, 78]}
df = pd.DataFrame(data)
print(df)

# 요일별 매출 데이터를 데이터프레임으로 만들어주세요.
# 첫 번째 열은 요일: ["월", "화", "수"]
# 두 번째 열은 매출: [1000, 1200, 900]
data = {'day':["월", "화", "수"], 
    'sales': [1000, 1200, 900]}
df = pd.DataFrame(data)
df

  name  math
0   철수    85
1   영희    90
2   민수    78

  day  sales
0   월   1000
1   화   1200
2   수    900

데이터 프레임 drop 연습문제

In [64]:
# (2번)
# 과일 판매 데이터를 데이터프레임으로 만들어주세요.
# 값은 [[30, 50], [20, 40]]
# 행 이름(index)은 ['사과', '배']
# 열 이름(columns)은 ['판매량', '재고']
data = np.array([[30, 50], [20, 40]])
f = pd.DataFrame(data, index=['사과', '배'], columns=['판매량', '재고'])
f

    판매량  재고    가격
사과   30  50  1000
배    20  40  1200

In [68]:
# 1. 사과의 판매량을 조회하세요. (결과: 30)
f.loc['사과','판매량']

np.int64(30)

In [66]:
# 2. 새로운 열 '가격'을 추가하고, 사과는 1000원, 배는 1200원으로 입력하세요.
f['가격'] = [1000,1200]
f

    판매량  재고    가격
사과   30  50  1000
배    20  40  1200

In [69]:
# (3번)
# 도시 데이터를 데이터프레임으로 만들어주세요.
# 값은 [[950, 1200], [500, 800]]
# 행 이름(index)은 ['서울', '부산']
# 열 이름(columns)은 ['인구', '면적']
data = [[950, 1200], [500, 800]]
df = pd.DataFrame(data, index=['서울', '부산'], columns=['인구', '면적'])
df

     인구    면적
서울  950  1200
부산  500   800

In [72]:
# 1. 서울의 면적을 조회하세요. (결과: 1200)
df.loc['서울', '면적']

np.int64(1200)

In [74]:
# 2. 새로운 열 '특산물'을 추가하고, 서울은 "김치", 부산은 "어묵"으로 입력하세요.
df['특산물'] = ['김치', '어묵']
df

     인구    면적 특산물
서울  950  1200  김치
부산  500   800  어묵

In [76]:
# (4번)
# 도서 데이터를 데이터프레임으로 만들어주세요.
# 값은 [[15000, '홍길동전'], [20000, '해리포터']]
# 행 이름(index)은 ['책1', '책2']
# 열 이름(columns)은 ['가격', '제목']
data = [[15000, '홍길동전'], [20000, '해리포터']]
df = pd.DataFrame(data, index=['책1', '책2'], columns=['가격', '제목'])
df

       가격    제목
책1  15000  홍길동전
책2  20000  해리포터

In [77]:
# 1. 책2의 가격을 조회하세요. (결과: 20000)
df.loc['책2','가격']

np.int64(20000)

In [78]:
# 2. 새로운 열 '저자'를 가격 뒤에 추가하고, 책1은 "허균", 책2는 "J.K. 롤링"으로 입력하세요.
df['저자'] = ['허균','J.K. 롤링']
df

       가격    제목       저자
책1  15000  홍길동전       허균
책2  20000  해리포터  J.K. 롤링

In [82]:
# (5번)
# 영화 데이터를 데이터프레임으로 만들어주세요.
# 값은 [[9.0, 14000], [8.2, 9500]]
# 행 이름(index)은 ['기생충', '인터스텔라']
# 열 이름(columns)은 ['평점', '관객수']
movie = [[9.0, 14000], [8.2, 9500]]
df = pd.DataFrame(movie, index=['기생충', '인터스텔라'], columns=['평점', '관객수'])

In [83]:
# 1. 영화 기생충의 평점을 조회하세요. (결과: 9.0)
df.loc['기생충', '평점']

np.float64(9.0)

In [89]:
# 2. '관객수' 열을 삭제하세요.
# del df['관객수']
# df

# drop(행 또는 열 이름 , 방향)
# result = df.drop('관객수', axis=1)
# print(result)

In [126]:
# (1번)
# 학생 점수 데이터를 시리즈로 만들어주세요.
# 값은 점수 [80, 90, 75, 85] 이고, 인덱스는 과목 ['국어', '영어', '수학', '과학'] 입니다.
s = pd.Series([80, 90, 75, 85], 
             index=['국어', '영어', '수학', '과학'])
s

국어    80
영어    90
수학    75
과학    85
dtype: int64

In [127]:
# 1. 총점을 구하세요.
print('총점:', s.sum())
# 2. 평균 점수를 구하세요.
print('평균:', s.mean())
# 3. 가장 높은 점수를 구하세요.
print('최고 점수:', s.max())
# 4. 가장 낮은 점수를 구하세요.
print('최소 점수:', s.min())

총점: 330
평균: 82.5
최고 점수: 90
최소 점수: 75

In [122]:
# (2번)
# 일주일 동안의 기온 데이터를 시리즈로 만들어주세요.
# 값은 기온 [2, 5, -1, 0, 7, -3, 4] 이고, 인덱스는 요일 ['월', '화', '수', '목', '금', '토', '일'] 입니다.
s = pd.Series([2, 5, -1, 0, 7, -3, 4],
        index=['월', '화', '수', '목', '금', '토', '일'])
s

월    2
화    5
수   -1
목    0
금    7
토   -3
일    4
dtype: int64

In [123]:
# 1. 영상(0°C 이상)인 날만 골라내세요.
s[s>0]

월    2
화    5
금    7
일    4
dtype: int64

데이터 프레임 연습문제

In [176]:
# (1번)
# 영화 데이터를 데이터프레임으로 만들어주세요.
# 값은 [[12000, 9.0], [8000, 8.5], [15000, 9.3]]
# 행 이름(index)은 ['기생충', '인터스텔라', '아바타']
# 열 이름(columns)은 ['관객수', '평점']
movie = np.array([[12000, 9.0], [8000, 8.5], [15000, 9.3]])
df = pd.DataFrame(movie, index=['기생충', '인터스텔라', '아바타'], columns=['관객수', '평점'] )
print(df)

# 1. 모든 영화의 관객수에 1000명을 추가하세요.
# (결과: [13000, 9000, 16000])
df['관객수'] + 1000
print(df)

# 2. 평점이 9.0 이상인 영화만 조회하세요.
df[df['평점'] >= 9.0]

           관객수   평점
기생충    12000.0  9.0
인터스텔라   8000.0  8.5
아바타    15000.0  9.3
           관객수   평점
기생충    12000.0  9.0
인터스텔라   8000.0  8.5
아바타    15000.0  9.3

         관객수   평점
기생충  12000.0  9.0
아바타  15000.0  9.3

In [191]:
# (2번)
# 상품 매출 데이터를 데이터프레임으로 만들어주세요.
# 값: [[25000, 30000], [40000, 15000]]
# 행 이름(index): [‘치마', '바지']
# 열 이름(columns): ['1월 매출', ‘2월 매출']
data=np.array([[25000, 30000], [40000, 15000]])
df = pd.DataFrame(data, index=['치마', '바지'], columns=['1월 매출', '2월 매출'] )
df

# 1. 새로운 열 '합계'를 추가하여 1월과 2월 매출의 합을 구하세요.
# print(df['1월 매출'])
# print(df['2월 매출'])
# print(df['1월 매출'] + df['2월 매출'])
df['합계'] = df['1월 매출'] + df['2월 매출']
# 2. '합계'를 만원 단위로 바꾼 새로운 열 '합계(만원)'을 추가하세요.
# df = ['합계(만원)']
df['합계(만원)'] = df['합계']/10000
df

    1월 매출  2월 매출     합계  합계(만원)
치마  25000  30000  55000     5.5
바지  40000  15000  55000     5.5

In [202]:
# (1번)
# 도시별 기온 데이터를 데이터 프레임으로 만들어 주세요.
# 데이터: [[20, 25, 15], [18, 22, 19], [25, 27, 23]]
# 행 이름(index): ['서울', '부산', '대구']
# 열 이름(columns): ['봄', '여름', '겨울']
data = np.array([[20, 25, 15], [18, 22, 19], [25, 27, 23]])
df = pd.DataFrame(data, 
                  index=['서울', '부산', '대구'], 
                  columns=['봄', '여름', '겨울'])
df
# 1. 서울의 여름 기온을 빈값(NaN) 으로 변경하세요.
df.loc['서울','여름'] = np.nan
df
# 2. 빈값이 포함된 행을 삭제 하세요.
df = df.dropna(axis=0)
df
# 3. 부산의 봄 기온을 빈값(NaN) 으로 변경하세요.
df.loc['부산','봄'] = np.nan
df
# 4. 모든 빈값을 0으로 채우세요.
df.fillna(0)
df

       봄    여름  겨울
부산   NaN  22.0  19
대구  25.0  27.0  23

In [209]:
# (2번)
# 학급별 점수 데이터를 데이터프레임으로 만드세요.
# 데이터: [[80, 75, 90], [85, 88, 82], [70, 65, 78]]
# 행 이름(index): ['국어', '영어', '수학']
# 열 이름(columns): ['1반', '2반', '3반']
data = np.array([[80, 75, 90], [85, 88, 82], [70, 65, 78]])
df = pd.DataFrame(data, 
                  index=['국어', '영어', '수학'],
                  columns=['1반', '2반', '3반']
                 )
df
# 1. 2반 영어 점수를 빈값(NaN) 으로 변경하세요.
df.loc['영어', '2반'] = np.nan
df
# 2. 빈값이 포함된 열을 삭제하세요.
df = df.dropna(axis=1)
df
# 3. 3반 수학 점수를 빈값(NaN) 으로 변경하세요.
df.loc['수학', '3반'] = np.nan
df
# 4. 모든 빈값을 100으로 채우세요.
df.fillna(100)

    1반     3반
국어  80   90.0
영어  85   82.0
수학  70  100.0

In [ ]:
# 데이터 탐색 연습 문제

In [4]:
# 지역 목록을 시리즈로 만들어주세요
# 값은 ['서울','부산','서울','대구','부산','광주','서울']입니다
s = pd.Series(['서울','부산','서울','대구','부산','광주','서울'])
s

0    서울
1    부산
2    서울
3    대구
4    부산
5    광주
6    서울
dtype: object

In [5]:
# 중복을 제거한 데이터만 출력하세요
s.unique()

array(['서울', '부산', '대구', '광주'], dtype=object)

In [6]:
# 각 도시가 몇번 나왔는지 출력하세요
s.value_counts()

서울    3
부산    2
대구    1
광주    1
Name: count, dtype: int64

In [11]:
# 이름 목록을 시리즈로 만들어주세요
# 값은 ['민수','지연','철수','민수','영희','민수','지연']입니다.
s = pd.Series(['민수','지연','철수','민수','영희','민수','지연'])
s
# 가장 많이 나온 이름의 수를 출력하세요
s.value_counts().max()

3

In [ ]:
# 판다스듸 Series는 통계함수를 사용할 수 있다
# sum mean max min